
/*
============
Custom variables declaration area
============
*/
$white-color:                        #ffffff;
$black-color:                        #000000;
$green-color:                        #3dfc03;

// $carousel-control-color:             $white-color;
$carousel-control-color:             $green-color;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white-color;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white-color;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

// $carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
// $carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-control-prev-icon-bg:         url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%3dfc03'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
$carousel-control-next-icon-bg:         url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%3dfc03'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

  // default : .6s
$carousel-transition-duration:       0.6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg:  $black-color;
$carousel-dark-caption-color:        $black-color;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);

/*
 === Page template Style declarations ===
 * It is mandatory to verify right CSS selectors.
 ========================================
*/


#carouselCustomLayoutMain{

  z-index: 0;

  // 1. Carousel
  .carousel-inner{

    .carousel-item{
      transition: opacity 0.9s ease-in-out;

      .row{
        .carousel-custom-mainslide{
          // background-color: rgba(0,0,0,1); //default: transparent
          position: relative; //ready to move elements
          padding-right: 0;
          overflow: hidden;

          display: flex;
          align-items: stretch;

          img{
            object-fit: cover;
            // height: -webkit-fill-available;
            opacity: 1;
            filter: brightness(120%);
            position: relative;
          }

          .carousel-custom-content{
            color: $white-color;
            position: absolute;
            text-align: center; //centralize all textual content
            // font-weight: bold;
            text-shadow: 0 0 5px $black-color;
            bottom: 0;

          }
        }

        .carousel-custom-subslide{
          position: relative;
          padding-left: 0.5em !important;
          margin: 0 !important;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .carousel-custom-subslide-1{

            img{
              object-fit: cover;
              opacity: 0.5;
            }

            background-color: rgba(0,0,0,1);
            padding-top: 0;
            margin-top: 0;
          }

          .carousel-custom-subslide-2{

            img{
              object-fit: cover;
              opacity: 0.5;
            }

            background-color: rgba(0,0,0,1);
          }

          .carousel-custom-subslide-3{

            img{
              object-fit: cover;
              opacity: 0.5;
            }

            background-color: rgba(0,0,0,1);
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }

      }

    }
  }

  // 2. Carousel controller
  .row{

    #carouselCustomLayoutControl{
      // 1. previous button
      #container-button-previous{
        // border: 5px solid red;

        /* Padding left: 5% view width, padding right: 30% view width */
        .carousel-control-prev{
          width: 10%;
          opacity: 1;
          z-index: 101;

          .carousel-control-prev-icon{
            // color: $green-color;
            position: absolute;
            background-image:     $carousel-control-prev-icon-bg;
            // background-color: 	#C0C0C0;  // silver color
            // box-shadow: 0 2px $black-color;
          }

        }
      }

      #container-button-next{
        // border: 5px solid red;

        .carousel-control-next{
          width: 10%;
          opacity: 1;
          z-index: 101;

          // * Very important property
          padding-right: 30%;

          .carousel-control-next-icon{
            // color: $green-color;
            //z-index: 102;
            position: absolute;   // This is important
            background-image:     $carousel-control-next-icon-bg;
            // background-color: 	  #C0C0C0;  // silver color
            // box-shadow: 0 2px $black-color;
          }
        }
      }

    }
  }

}









